{% extends "quiz_app/base.html" %} {% block content %}
<header>
  <h1>About Quizology</h1>

</header>
<main>
  <section>
    <h2>Welcome to Quizology</h2>
    <p>
      Quizology is a web application that allows users to take multiple-choice
      quizzes on various topics.
    </p>
    <p>
      This application is built using Django, a high-level Python web framework,
      and incorporates features such as user authentication, session management,
      and database storage of quiz results.
    </p>
    <p>
      We hope you enjoy using Quizology to test your knowledge and learn new
      things!
    </p>
  </section>
</main>
<footer>
  <p>&copy; 2024 Quizology</p>
</footer>
{% endblock content %}
