{% extends 'quiz_app/base.html' %}

{% block content %}

<div class="container mt-2">
    <div class="text-center">
        <h1 class="quizologytitle " id = "quizology">🏆 Leaderboard 🏆</h1>
    </div>

    <div class="table-responsive pt-2 text-center ">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Rank</th>
                    <th>Username</th>
                    <th>Score</th>
                    <th>Category</th>                    
                    
                </tr>
            </thead>
            <tbody>
                {% for score in scores %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ score.user.username }}</td>
                    <td>{{ score.score }}</td>
                    <td>{{ score.quiz_category }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
