{% extends 'quiz_app/base.html' %}

{% block content %}





<div class=" text-center mt-2 score">
    <h1 class="quizologytitle">Quiz Score</span>  🎉</h1>

    {% if score < half_length   %}
        <h2> Keep Practicing</h2>
        
    {% else %}
        <h2>Congratulations!!!</h2>
    {% endif %}

    <p>You have completed the quiz. Here is your score:</p>

    <h3>{{ score }}/  {{ length }}</h3>

    {% if score < half_length %}
        
        <p>Oh no! You scored less than 5. Keep practicing! 💪</p>
        <!-- "Try Again" button/link -->
        <a href="{% url 'quiz_category_list' %}" class="btn btn-primary">Try Again</a>
    {% else %}
        <p>Well done! Keep up the good work! 🎉👏</p>
        <!-- "Try Again" button/link -->
        <a href="{% url 'quiz_category_list' %}" class="btn btn-primary">Take another Quiz</a>
        <a href="{% url 'scoreboard' %}" class="btn btn-score btn-md">Check your High Scores 🏆</a>
    {% endif %}
    
</div>


{% endblock %}