{% extends 'quiz_app/base.html' %}

{% block content %}





<div class=" text-center mt-2 score">
    <h1 class="quizologytitle">Quiz Score</span>  🎉</h1>

    {% if score < half_length   %}
        <h2> Keep Practicing</h2>
        
    {% else %}
        <h2>Congratulations!!!</h2>
    {% endif %}

    <p>You have completed the quiz. Here is your score:</p>

    <h3>{{ score }}/  {{ length }}</h3>

    {% if score < half_length %}
        
        <p>Oh no! You scored less than 5. Keep practicing! 💪</p>
    {% else %}
        <p>Well done! Keep up the good work! 🎉👏</p>
    {% endif %}
    
</div>


{% endblock %}