{% extends "quiz_app/base.html" %} {% block content %}
{% load crispy_forms_tags %}

    <div class="container login-container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="content-section">
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Welcome back! Log In</legend>
                            {{ form|crispy }}
                        </fieldset>
                        
                        <div class="form-group">
                            <button class="btn btn-score" type="submit">Login</button>
                            <small class="text-muted ms-2">
                                <a href="{% url 'password_reset' %}">Forgot Password?</a>
                            </small>
                        </div>
                        <br>
                    </form>
                    <div class="border-top pt-3">
                        <small class="text-muted">
                            
                            Need An Account? <a  href="{% url 'register' %}" class=" ml-10 btn btn-start btn-sm">Sign Up Now</a>
                        </small>
                    </div>
                </div>

            </div>
            <div class="col-md-2"></div>     
    </div>

{% endblock content %}